<div class="essay-list">
  <div class="essay-item" *ngFor="let essay of essayList">
    <img *ngIf="essay" src="./assets/image/essay/essay{{essay}}.jpeg"/>
    <div class="essay-title">ALL THINGS WHIT YOU</div>
    <div class="essay-detail">
      <span class="essay-name">PasDajavu</span>
      <div class="essay-opr">
        <ion-icon name="ios-eye"></ion-icon>
        <span>52137</span>
      </div>
      <div class="essay-opr">
        <ion-icon name="md-heart"></ion-icon>
        <span>1314</span>
      </div>
    </div>
  </div>  
</div>